{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="jumbotron jumbotron-sm" style="background-color:#339966;margin-top:2%;color:white;">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <h1 class="h2" style="margin-top:-2%">
                        SoftGroup
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="well">
                    <h3 style="line-height:20%;"><i class="fa fa-home fa-1x" style="line-height:6%;color:#339966"></i> Address:</h3>
                    <p style="margin-top:6%;line-height:35%">23 Sichovykh Stril’tsiv St., offices 503-504, Ivano-Frankivsk, 76018, Ukraine</p>
                    <br />
                    <br />
                    <h3 style="line-height:20%;"><i class="fa fa-envelope fa-1x" style="line-height:6%;color:#339966"></i> E-Mail :</h3>
                    <p style="margin-top:6%;line-height:35%">ivanofrankivsk@soft-group.com</p>
                    <br />
                    <br />
                    <h3 style="line-height:20%;"><i class="fa fa-user fa-1x" style="line-height:6%;color:#339966"></i> Tel:</h3>
                    <p style="margin-top:6%;line-height:35%">+38-096-742-9948</p>
                    <br />
                    <br />
                    <h3 style="line-height:20%;"><i class="fa fa-yelp fa-1x" style="line-height:6%;color:#339966"></i> Skype:</h3>
                    <p style="margin-top:6%;line-height:35%">SoftGroupCom</p>
                </div>
            </div>
            <div class="col-sm-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2621.8101096617866!2d24.70837151590741!3d48.91901000439014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4730c16ae2f37afb%3A0x2a00a9870320ef62!2z0LLRg9C70LjRhtGPINCh0ZbRh9C-0LLQuNGFINGB0YLRgNGW0LvRjNGG0ZbQsiwgMjMsINCG0LLQsNC90L4t0KTRgNCw0L3QutGW0LLRgdGM0LosINCG0LLQsNC90L4t0KTRgNCw0L3QutGW0LLRgdGM0LrQsCDQvtCx0LvQsNGB0YLRjA!5e0!3m2!1suk!2sua!4v1491644737325" width="565" height="430" frameborder="0" style="border:0" allowfullscreen></iframe>            </div>
        </div>
    </div>
{% endblock %}