{% extends 'base.html.twig' %}

{% block body %}
    <h1>Добавити офіс</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <a href="{{ path('office_index') }}" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span> Назад</a>
        <input type="submit" value="Добавити" class="btn btn-success"/>
    {{ form_end(form) }}
    

{% endblock %}
