{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About Us</h1>
                <p>As a leading software development company we take up your ideas, build on their ever aspect to help you realize great ventures. We believe that your ideas must develop to become dreams that will be precursors to the expansion, safeguarding and the administration of all manners of IT solutions. We are equipped with the wherewithal and the proficiency that will help you to deliver novel IT solutions for the propulsion of your entire organization. </p>
            </div>
        </div>

        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Team</h2>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://php-1-01.host-panel.net/images/symfony.png" alt="">
                <h3>Symfony v2.8</h3>

            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://php-1-01.host-panel.net/images/php.png" alt="">
                <h3>PHP 5.6</h3>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://php-1-01.host-panel.net/images/doctrine.png" alt="">
                <h3>Doctrine ORM</h3>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://php-1-01.host-panel.net/images/twig.png" alt="">
                <h3>Twig</h3>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://php-1-01.host-panel.net/images/composer.png" alt="">
                <h3>Composer</h3>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://php-1-01.host-panel.net/images/bootstrap.png" alt="">
                <h3>Bootstrap</h3>
            </div>
        </div>
    </div>

{% endblock %}

